@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.view {
  background: white no-repeat center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}
.navbar {
  z-index: 1;
}

html,
body,
header,
.view {
height: 100%;

}

Carousel.Item img.d-block w-500.image{
  height: 10px
}

div.container.header{
  height: 300px;
}

li.nav-item{
  font-family: 'Josefin Sans', sans-serif;
}

div.follow{
  font-family: 'Josefin Sans', sans-serif;
}